.button {
  background: #ce022c 0% 0% no-repeat padding-box;
  border-width: 0px;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  text-align: center;
  font: normal normal 600 13px/14px Open Sans;
  letter-spacing: 1.3px;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: content-box;
}
