.subheader {
  text-align: center;
  font: normal normal 300 30px/32px Open Sans;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 7px !important;

  @media screen and (max-width: 850px) {
    font-size: 18px;
    line-break: 20px;
  }
}
