.container {
  max-width: 1366px;
  min-height: 580px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-sizing: border-box;

  @media screen and (max-width: 850px) {
    min-height: 500px;
  }
}

.header {
  padding: 60px;

  @media screen and (max-width: 850px) {
    padding: 30px;
  }
}

.highlighted {
  color: #ce022c;
}
