.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  height: 90px;
  background: #7e011c 0% 0% no-repeat padding-box;
  padding: 25px 40px;
  box-sizing: border-box;
  color: #ffffff;
  font: normal normal 600 12px/30px Open Sans;
}
