.columns {
  display: flex;
  margin: auto;
  max-width: 1088px;
}

.leftColumn {
  max-width: 508px;
}

.rightColumn {
  min-width: 444px;
  margin-left: auto;
  padding-left: 32px;
  margin-top: 60px;
}

.cta {
  margin-top: 66px;

  @media screen and (max-width: 1080px) {
    margin-top: 0px;
  }
}
