.votingBegins {
  font: normal normal normal 14px/18px Open Sans;
  letter-spacing: 2.8px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 52px;

  @media screen and (max-width: 850px) {
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 25px;
  }
}

.strong {
  font-weight: 900;
}
